<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseurl" value="https://reqres.in" />
    <add key="PROJECTNAME" value="API Automation" />
    <add key="REPORTNAME" value="API Automation" />
    <add key="REPORTSERVER" value="false" />
  </appSettings>
</configuration>